<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title id="pageTitle">프로젝트 기본정보</title>
    <script th:inline="javascript" src="/js/project/projectGantt.js"></script>
</head>

<div layout:fragment="content">
    <div th:replace="/project/projectDetailChart :: project-top-nav"></div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">프로젝트 배정현황</h6>
                    <hr>

                    <input id="project-code" type="hidden" th:value="${project.projectCode}">
                    <div class="google-chart-container mb-4">
                        <div class="google-charts" id="gantt-div"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>