<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title id="pageTitle">상세 대시보드</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/dashBoard/dashBoardStyle.css}">

    <!-- JS -->
	<script th:src="@{/js/dashBoard/projectChartDashBoard.js}"></script>
<!--    <script src="/js/project/projectChart.js"></script>-->

</head>

<div layout:fragment="content">
    <div class="row">
        <div class="col-12 grid-margin">
    <select id="project-select" style="margin-bottom: 10px; width: 100%">
        <th:block th:each="project : ${projectNameList}">
            <option th:value="${project.projectCode}" th:text="${project.projectName}" th:selected="${defaultProject.projectCode} == ${project.projectCode}">
        </th:block>
    </select>
        </div>
    </div>

    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">프로젝트 정보</h6>
                    <span class="h4" id="project-name"></span>
                    <div class="row mt-3">
                        <div class="col-xs-12 col-md-3">
                            <p class="mb-3 p-0">시작일</p>
                            <span class="start-box" id="project-start"></span>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <p class="mb-3 p-0">종료일</p>
                            <span class="finish-box" id="project-finish"></span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-xs-12 col-md-3">
                            <p class="mb-2 p-0">PM</p>
                            <span class="font-weight-bold" id="project-pm"></span>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <p class="mb-2 p-0">개발형태</p>
                            <span class="font-weight-bold" id="project-type"></span>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="d-flex text-black-50">
                        <p><i class="fa fa-check opacity-5"></i> <span class="font-weight-bold" id="project-task-account"></span> Tasks</p>
                        <p class="pl-3"><i class="fa fa-user opacity-5"></i> <span class="font-weight-bold" id="project-member-account"></span> Members</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- row end -->
    <div th:replace="/project/projectDetailChart :: project-detail-chart"></div>

</div>


</html>